@model Identity4WebClient.Controllers.MsLogin
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 
    <a href="@Model.OauthUrl">Click here to login</a>
    </h1>
    <p>
        @Html.Raw(Model.InnerFunc)
    </p>
</div>
